<a href="https://colab.research.google.com/github/Iza091/PhytonCodes/blob/main/CodigosPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo ")
nombre="Iza"
print("Mi nombre es",nombre)
edad= 23
print("Mi edad es:",edad)

Hola Mundo
Mi nombre es Iza
Mi edad es: 23

In [ ]:
nombre="Isaias Ortiz"
print("Tu nombre es:",nombre,"la longitud de tu nombre:",len(nombre),"; las iniciales:",nombre[0],nombre[7])

Tu nombre es: Isaias Ortiz la longitud de tu nombre: 12 ; las iniciales: I O

In [ ]:
num1=3
num2=6.9
resp= num1 + num2
print("La suma de:",num1,"+",num2,"es igual a:",resp,)

La suma de: 3 + 6.9 es igual a: 9.9

In [ ]:
num1=9
num2=4.5
resp=num1-num2
print("La resta de:",num1,"-",num2,"es igual a:",resp,)

La resta de: 9 - 4.5 es igual a: 4.5

In [ ]:
num1=float(input("Ingrese un número entero: "))
num2=float(input("Ingrese otro número decimal: "))
resp=num1+num2
print("Total:",resp)

Ingrese un número entero: 45
Ingrese otro número decimal: 2.3
Total: 47.3

In [ ]:
nombre=input("¿Cómo te llamas?: ")
print(nombre,  type(nombre), len(nombre))

print(nombre[0])

¿Cómo te llamas?: Iza
Iza <class 'str'> 3
I

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1= float(input("digite un número: "))
num2= float(input("digita otro número: "))

print("La suma de:",suma(num1, num2))

digite un número: 0.4
digita otro número: 0.6
La suma de: 1.0

In [ ]:
num1=5
num2=7
def suma(num1,num2):
  return num1 + num2
print("la suma de 5 + 7 =",suma(num1,num2))

12
la suma de 5 + 7 = 12

In [ ]:
def clase():
  print ('BLΛƆKPIИK IS THE REVOLUTION')
clase()

BLΛƆKPIИK IS THE REVOLUTION

In [ ]:
c= 38

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  100.4

In [ ]:
gradosCiudades=[27,30, 32, 35, 40, 45]

In [ ]:
print("C°: ", gradosCiudades, "C°: ",list(map(convertirCaF, gradosCiudades)))

C°:  [27, 30, 32, 35, 40, 45] C°:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
gradosCiudades2= [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
print("F°:", gradosCiudades2, "C°: ",list(map(convertirFaC, gradosCiudades2)))

F°: [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
conversor= lambda f:(f-32)*5/9

In [ ]:
print("F°: : ",gradosCiudades2, "C°: ",list(map(conversor, gradosCiudades2)))

F°: :  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

De Celcius a Kelvin

In [ ]:
def convertirCelKC(c):
  return (c+273.15)

In [ ]:
gradosCiudades3= [26,36, 38, 45, 25, 48]

In [ ]:
conversor= lambda c:(c+273.15)

In [ ]:
print("C°: : ",gradosCiudades3, "K°: ",list(map(conversor, gradosCiudades3)))

C°: :  [26, 36, 38, 45, 25, 48] K°:  [299.15, 309.15, 311.15, 318.15, 298.15, 321.15]

De Kelvin a Celcius

In [ ]:
def convertirKelC(k):
  return (k-273.15)

In [ ]:
gradosCiudades4= [1,30, 55, 85, 45, 74]

In [ ]:
conversor= lambda k:(k-273.15)

In [ ]:
print("K°: : ",gradosCiudades4, "C°: ",list(map(conversor, gradosCiudades4)))

K°: :  [1, 30, 55, 85, 45, 74] C°:  [-272.15, -243.14999999999998, -218.14999999999998, -188.14999999999998, -228.14999999999998, -199.14999999999998]