<a href="https://colab.research.google.com/github/Iza091/PhytonCodes/blob/main/CodigosPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo ")
nombre="Iza"
print("Mi nombre es",nombre)
edad= 23
print("Mi edad es:",edad)

Hola Mundo
Mi nombre es Iza
Mi edad es: 23

In [ ]:
nombre="Isaias Ortiz"
print("Tu nombre es:",nombre,"la longitud de tu nombre:",len(nombre),"; las iniciales:",nombre[0],nombre[7])

Tu nombre es: Isaias Ortiz la longitud de tu nombre: 12 ; las iniciales: I O

In [ ]:
num1=3
num2=6.9
resp= num1 + num2
print("La suma de:",num1,"+",num2,"es igual a:",resp,)

La suma de: 3 + 6.9 es igual a: 9.9

In [ ]:
num1=9
num2=4.5
resp=num1-num2
print("La resta de:",num1,"-",num2,"es igual a:",resp,)

La resta de: 9 - 4.5 es igual a: 4.5

In [ ]:
num1=float(input("Ingrese un número entero: "))
num2=float(input("Ingrese otro número decimal: "))
resp=num1+num2
print("Total:",resp)

Ingrese un número entero: 45
Ingrese otro número decimal: 2.3
Total: 47.3

In [ ]:
nombre=input("¿Cómo te llamas?: ")
print(nombre,  type(nombre), len(nombre))

print(nombre[0])

¿Cómo te llamas?: Iza
Iza <class 'str'> 3
I

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1= float(input("digite un número: "))
num2= float(input("digita otro número: "))

print("La suma de:",suma(num1, num2))

digite un número: 0.4
digita otro número: 0.6
La suma de: 1.0

In [ ]:
num1=5
num2=7
def suma(num1,num2):
  return num1 + num2
print("la suma de 5 + 7 =",suma(num1,num2))

12
la suma de 5 + 7 = 12

In [ ]:
def clase():
  print ('BLΛƆKPIИK IS THE REVOLUTION')
clase()

BLΛƆKPIИK IS THE REVOLUTION

In [ ]:
c= 38

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  100.4

In [ ]:
gradosCiudades=[27,30, 32, 35, 40, 45]

In [ ]:
print("C°: ", gradosCiudades, "C°: ",list(map(convertirCaF, gradosCiudades)))

C°:  [27, 30, 32, 35, 40, 45] C°:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
gradosCiudades2= [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
print("F°:", gradosCiudades2, "C°: ",list(map(convertirFaC, gradosCiudades2)))

F°: [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
conversor= lambda f:(f-32)*5/9

In [ ]:
print("F°: : ",gradosCiudades2, "C°: ",list(map(conversor, gradosCiudades2)))

F°: :  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

De Celcius a Kelvin

In [ ]:
def convertirCelKC(c):
  return (c+273.15)

In [ ]:
gradosCiudades3= [26,36, 38, 45, 25, 48]

In [ ]:
conversor= lambda c:(c+273.15)

In [ ]:
print("C°: ",gradosCiudades3, "K°: ",list(map(conversor, gradosCiudades3)))

C°:  [26, 36, 38, 45, 25, 48] K°:  [-247.14999999999998, -237.14999999999998, -235.14999999999998, -228.14999999999998, -248.14999999999998, -225.14999999999998]

De Kelvin a Celcius

In [ ]:
def convertirKelC(k):
  return (k-273.15)

In [ ]:
gradosCiudades4= [1,30, 55, 85, 45, 74]

In [ ]:
conversor= lambda k:(k-273.15)

In [ ]:
print("K°: ",gradosCiudades4, "C°: ",list(map(conversor, gradosCiudades4)))

K°:  [1, 30, 55, 85, 45, 74] C°:  [-272.15, -243.14999999999998, -218.14999999999998, -188.14999999999998, -228.14999999999998, -199.14999999999998]

Nota final del ciclo

In [ ]:
print("Programación Computacional 3")

Programación Computacional 3

In [ ]:
def computo1(c1):
 return(c1*0.3+c1*0.3+c1*0.4)

In [ ]:
NotasC1= [10,5,3]

In [ ]:
conversor= lambda c1:(c1*0.3+c1*0.3+c1*0.4)

In [ ]:
print("Notas computo 1: ",NotasC1, "Total",list(map(conversor, NotasC1)))

Notas computo 1:  [10, 5, 3] Total [10.0, 5.0, 3.0]

In [ ]:
def computo2(c2):
 return(c2*0.3+c2*0.3+c2*0.4)

In [ ]:
NotasC2= [10,9,7]

In [ ]:
conversor= lambda c2:(c2*0.3+c2*0.3+c2*0.4)

In [ ]:
print("Notas computo 2: ",NotasC2, "Total",list(map(conversor, NotasC2)))

Notas computo 2:  [10, 9, 7] Total [10.0, 9.0, 7.0]

In [ ]:
def computo3(c3):
 return(c3*0.3+c3*0.3+c3*0.4)

In [ ]:
NotasC3= [10,10,9]

In [ ]:
conversor= lambda c3:(c3*0.3+c3*0.3+c3*0.4)

In [ ]:
print("Notas computo 3: ",NotasC3, "Total",list(map(conversor, NotasC3)))

Notas computo 3:  [10, 10, 9] Total [10.0, 10.0, 9.0]

In [ ]:
def notafinal(ct):
  return lambda ct:ct /3

In [ ]:
conversor= lambda ct:ct

In [ ]:
valores = [
           [],
           [0,1, 0.98, 24.57, 35.89, 7.73, 8.74, 663.37,19.98,1314.06,1.29], #Monedas
           [0,1,100,1000,1e+6,1e+9,0.000621371,1.09361,3.28084,39.3701,0.000539957,0.001],  #Longitud
           [0,1,0.001,1000,1e+6,9.8421e-7,1.1023e-6,0.00220462,0.035274,1e-6,0.000157473], #Masa
           [0,1,0.125,0.000125,1.25e-7,1.25e-10,1.25e-13,1.25e-16,1.25e-19,1.25e-22,1.25e-25], #Almacenamiento
           [0,1,1e+9,0.0166667,0.000277778,1.1574083333e-5,1.653440476142857e-6,3.80517391202858972e-7,3.170981735068493655e-8,3.171e-9,3.171e-10], #Tiempo
           [0,1,1000,0.219969,0.879876,1.75975,3.51951,56.3121,168.936,0.0353147,61.0237], #Volumen
           [0] #Area
]
etiquetas = [
           [],
           ["1. Dolar", "2. Euro", "3. Lempira","4. Cordobas", "5. Quetzalez", "6. Colon SV", "7. Colon CR","8.MXN","9.Won Surcoreano","10.Dolar Canadiense"], #Moneda
           ["1. Metro","2. CM","3. Milimetro", "4. Micrómetro","5. Nanómetro", "5. Milla","6. Yarda","7. Pie","8. Pulgada","9.Milla Náutica","10.Kilometro"], #Longitud
           ["1. Gramo","2. Kilogramo","3. Miligramo", "4. Microgramo", "5. Tonelada Larga","6. Tonelada corta","7. Libra","8.Onza","9.Tonelada","10. Stone"], #Masa
           ["Bit","Byte","KB", "MB","GB", "TB","PB","EB","ZB","YB"], #Almacenamiento
           ["Sg","Nanosg","Minuto", "Hora","Día", "Semana","Mes","Año Natural","Década","Siglo"], #Tiempo
           ["Litro","Mililitro","Galón imperial", "Cuarto imperial","Pinta imperial", "Taza imperial","Cucharada imperial","Cucharadita imperial","Pie cúbico","Pulgada cúbica"], #Volumen
           [] #Area
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
print("* 4. Almacenamiento")
print("* 5. Tiempo")
print("* 6. Volumen")
print("* 7. Area")
conversor = int(input("Conversor: "))

print( etiquetas[conversor] )

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cant: "))

print("Respuesta: ", convertir(conversor, de, a, cantidad) )

*** MENU ***
* 1. Monedas
* 2. Longitud
* 3. Masa
Conversor: 2
['1. Metro', '2. CM', '3. Milimetro', '4. Micrómetro', '5. Nanómetro', '5. Milla', '6. Yarda', '7. Pie', '8. Pulgada', '9.Milla Náutica', '10.Kilometro']
DE: 1
A: 2
Cant: 100
Respuesta:  10000.0

In [ ]:
#Calcular sobresueldo
#iss (3%), afp (6,25%), isr(tabla), imprimir sueldo neto y total reducciones.
sueldo = float(input('Sueldo:\n'))
isss = sueldo * 0.03
afp = sueldo * 0.0625
sueldoneto = sueldo - isss - afp

tablaIsr = [
            [0.01, 472.0, 0, 0],
            [472.01, 895.24, 0.01, 17, 67],
            [895.25, 2038.10, 0.2, 60],
            [2038.11, 999999, 0.3, 288.57]
]

print(sueldo, 'Deducciones: ', (isss + afp), 'Sueldo Neto: ', sueldoneto)

Sueldo:
150
150.0 Deducciones:  13.875 Sueldo Neto:  136.125