<a href="https://colab.research.google.com/github/Iza091/PhytonCodes/blob/main/CodigosPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo ")
nombre="Iza"
print("Mi nombre es",nombre)
edad= 23
print("Mi edad es:",edad)

Hola Mundo
Mi nombre es Iza
Mi edad es: 23

In [ ]:
nombre="Isaias Ortiz"
print("Tu nombre es:",nombre,"la longitud de tu nombre:",len(nombre),"; las iniciales:",nombre[0],nombre[7])

Tu nombre es: Isaias Ortiz la longitud de tu nombre: 12 ; las iniciales: I O

In [ ]:
num1=3
num2=6.9
resp= num1 + num2
print("La suma de:",num1,"+",num2,"es igual a:",resp,)

La suma de: 3 + 6.9 es igual a: 9.9

In [ ]:
num1=9
num2=4.5
resp=num1-num2
print("La resta de:",num1,"-",num2,"es igual a:",resp,)

La resta de: 9 - 4.5 es igual a: 4.5

In [ ]:
num1=float(input("Ingrese un número entero: "))
num2=float(input("Ingrese otro número decimal: "))
resp=num1+num2
print("Total:",resp)

Ingrese un número entero: 45
Ingrese otro número decimal: 2.3
Total: 47.3

In [ ]:
nombre=input("¿Cómo te llamas?: ")
print(nombre,  type(nombre), len(nombre))

print(nombre[0])

¿Cómo te llamas?: Iza
Iza <class 'str'> 3
I

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1= float(input("digite un número: "))
num2= float(input("digita otro número: "))

print("La suma de:",suma(num1, num2))

digite un número: 0.4
digita otro número: 0.6
La suma de: 1.0

In [ ]:
num1=5
num2=7
def suma(num1,num2):
  return num1 + num2
print("la suma de 5 + 7 =",suma(num1,num2))

12
la suma de 5 + 7 = 12

In [ ]:
def clase():
  print ('BLΛƆKPIИK IS THE REVOLUTION')
clase()

BLΛƆKPIИK IS THE REVOLUTION

In [ ]:
c= 38

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  100.4

In [ ]:
gradosCiudades=[27,30, 32, 35, 40, 45]

In [ ]:
print("C°: ", gradosCiudades, "C°: ",list(map(convertirCaF, gradosCiudades)))

C°:  [27, 30, 32, 35, 40, 45] C°:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
gradosCiudades2= [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
print("F°:", gradosCiudades2, "C°: ",list(map(convertirFaC, gradosCiudades2)))

F°: [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
conversor= lambda f:(f-32)*5/9

In [ ]:
print("F°: : ",gradosCiudades2, "C°: ",list(map(conversor, gradosCiudades2)))

F°: :  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

De Celcius a Kelvin

In [ ]:
def convertirCelKC(c):
  return (c+273.15)

In [ ]:
gradosCiudades3= [26,36, 38, 45, 25, 48]

In [ ]:
conversor= lambda c:(c+273.15)

In [ ]:
print("C°: ",gradosCiudades3, "K°: ",list(map(conversor, gradosCiudades3)))

C°:  [26, 36, 38, 45, 25, 48] K°:  [-247.14999999999998, -237.14999999999998, -235.14999999999998, -228.14999999999998, -248.14999999999998, -225.14999999999998]

De Kelvin a Celcius

In [ ]:
def convertirKelC(k):
  return (k-273.15)

In [ ]:
gradosCiudades4= [1,30, 55, 85, 45, 74]

In [ ]:
conversor= lambda k:(k-273.15)

In [ ]:
print("K°: ",gradosCiudades4, "C°: ",list(map(conversor, gradosCiudades4)))

K°:  [1, 30, 55, 85, 45, 74] C°:  [-272.15, -243.14999999999998, -218.14999999999998, -188.14999999999998, -228.14999999999998, -199.14999999999998]

Nota final del ciclo

In [ ]:
print("Programación Computacional 3")

Programación Computacional 3

In [ ]:
def computo1(c1):
 return(c1*0.3+c1*0.3+c1*0.4)

In [ ]:
NotasC1= [10,5,3]

In [ ]:
conversor= lambda c1:(c1*0.3+c1*0.3+c1*0.4)

In [ ]:
print("Notas computo 1: ",NotasC1, "Total",list(map(conversor, NotasC1)))

Notas computo 1:  [10, 5, 3] Total [10.0, 5.0, 3.0]

In [ ]:
def computo2(c2):
 return(c2*0.3+c2*0.3+c2*0.4)

In [ ]:
NotasC2= [10,9,7]

In [ ]:
conversor= lambda c2:(c2*0.3+c2*0.3+c2*0.4)

In [ ]:
print("Notas computo 2: ",NotasC2, "Total",list(map(conversor, NotasC2)))

Notas computo 2:  [10, 9, 7] Total [10.0, 9.0, 7.0]

In [ ]:
def computo3(c3):
 return(c3*0.3+c3*0.3+c3*0.4)

In [ ]:
NotasC3= [10,10,9]

In [ ]:
conversor= lambda c3:(c3*0.3+c3*0.3+c3*0.4)

In [ ]:
print("Notas computo 3: ",NotasC3, "Total",list(map(conversor, NotasC3)))

Notas computo 3:  [10, 10, 9] Total [10.0, 10.0, 9.0]

In [ ]:
def notafinal(ct):
  return lambda ct:ct /3

In [ ]:
conversor= lambda ct:ct

In [ ]:
valores = [
           [],
           [0,1, 0.98, 24.57, 35.89, 7.73, 8.74, 663.37,19.98,1314.06,1.29], #Monedas
           [0,1,100,1000,1e+6,1e+9,0.000621371,1.09361,3.28084,39.3701,0.000539957,0.001],  #Longitud
           [0,1,0.001,1000,1e+6,9.8421e-7,1.1023e-6,0.00220462,0.035274,1e-6,0.000157473], #Masa
]
etiquetas = [
           [],
           ["1. Dolar", "2. Euro", "3. Lempira","4. Cordobas", "5. Quetzalez", "6. Colon SV", "7. Colon CR","8.MXN","9.Won Surcoreano","10.Dolar Canadiense"],
           ["1. Metro","2. CM","3. Milimetro", "4. Micrómetro","5. Nanómetro", "5. Milla","6. Yarda","7. Pie","8. Pulgada","9.Milla Náutica","10.Kilometro"],
           ["1. Gramo","2. Kilogramo","3. Miligramo", "4. Microgramo", "5. Tonelada Larga","6. Tonelada corta","7. Libra","8.Onza","9.Tonelada","10. Stone"],
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
conversor = int(input("Conversor: "))

print( etiquetas[conversor] )

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cant: "))

print("Respuesta: ", convertir(conversor, de, a, cantidad) )

*** MENU ***
* 1. Monedas
* 2. Longitud
* 3. Masa
Conversor: 2
['1. Metro', '2. CM', '3. Milimetro', '4. Micrómetro', '5. Nanómetro', '5. Milla', '6. Yarda', '7. Pie', '8. Pulgada', '9.Milla Náutica', '10.Kilometro']
DE: 1
A: 2
Cant: 100
Respuesta:  10000.0

In [ ]:
#Calcular sobresueldo
#iss (3%), afp (6,25%), isr(tabla), imprimir sueldo neto y total reducciones.
sueldo = float(input('Sueldo:\n'))
isss = sueldo * 0.03
afp = sueldo * 0.0625
sueldoneto = sueldo - isss - afp

tablaIsr = [
            [0.01, 472.0, 0, 0],
            [472.01, 895.24, 0.01, 17, 67],
            [895.25, 2038.10, 0.2, 60],
            [2038.11, 999999, 0.3, 288.57]
]

print(sueldo, 'Deducciones: ', (isss + afp), 'Sueldo Neto: ', sueldoneto)

Sueldo:
150
150.0 Deducciones:  13.875 Sueldo Neto:  136.125

Notas

In [1]:
#Notas
notas = [6,8,10] #Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes
print("Notas Originales: ", notas)

notas[0] = 9
print("Notas: ", notas)

Notas Originales:  [6, 8, 10]
Notas:  [9, 8, 10]

In [2]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
print(notasProgra)

[[9, 8, 10], [10, 6, 9], [10, 9, 10]]

In [4]:
print("Lab2 de C1: ", notasProgra[0][1] )

Lab2 de C1:  8

In [6]:
notas = [
    [ #Progra III
      [9,8,[8,9]], #C1
      [10,6,9], #C2
      [10,9,10] #C3
    ], 
    [ #Estadistica
      [5,7,10], #C1
      [9,8,9],  #C2
      [10,10,10]#C3
    ],
    [ #BD
      [7,8,9],  #C1
      [9,8,7],  #C2
      [10,9,10],#C3
    ], 
    [ #Ingles
      [8,9,10], #C1
      [9,10,9], #C2
      [10,10,10]#C3
    ],
    [ #Circuito Digitales
      [5,8,7], #C1
      [8,7,9], #C2
      [9,10,9] #C3
    ]
]
import functools
print( "Lab1 de Estadistica en C1: ", notas[1][0][0], "Nota de Parcial C1 de Progra III: ",functools.reduce(lambda a,b: a+b, notas[0][0][2])/2 )

Lab1 de Estadistica en C1:  5 Nota de Parcial C1 de Progra III:  8.5

In [8]:
#diccionarios (JSON): Se declaran con llaves pero se usan con corchetes
misNotas = {
    "Programa III":{
        "C1": {
          "Lab1":9,"Lab2":8, "Parcial":{"ParteI":8, "ParteII":9}
        },
        "C2":{
          "Lab1":10,"Lab2":6, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":6, "Parcial":9
        }
    },"Estadistica":{
        "C1": {
          "Lab1":5,"Lab2":7, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "BD":{
        "C1": {
          "Lab1":7,"Lab2":8, "Parcial":9
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":7
        },
        "C3":{
          "Lab1":10,"Lab2":9, "Parcial":10
        }
    }, "Ingles":{
        "C1": {
          "Lab1":8,"Lab2":9, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":10, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "Circuitos Digitales":{
        "C1": {
          "Lab1":5,"Lab2":8, "Parcial":7
        },
        "C2":{
          "Lab1":8,"Lab2":7, "Parcial":9
        },
        "C3":{
          "Lab1":9,"Lab2":10, "Parcial":9
        }
    }
}
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])
misNotas["Estadistica"]["C1"]["Lab1"] = float(input("Lab1: "))
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])

Lab1 en C1 de Estadistica:  5
Lab1: 6
Lab1 en C1 de Estadistica:  6.0

## Edad

In [9]:
edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Eres un niño")
elif( edad<18 ):
  print("Eres un adolescente")
elif( edad<=55 ):
  print("Eres un adulto joven")
elif(edad<=65):
  print("Eres un Adulto")
elif(edad<=85):
  print("Eres un adulto mayor")
elif(edad<=130):
  print("Larga vidad...")
else:
  print("Edad incorrecto")
print("Termino")

Dime tu edad: 23
Eres un adulto joven
Termino

## Multiplicar

In [20]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla de multiplicar a generar: "))
i=1
while i<=10:
  print( nt,"X",i,"=", nt*i )
  i+=1

Dime la tabla de multiplicar a generar: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [19]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla que deseas generar: "))
for i in range(1,11): #i<11
  print(nt,"X",i,"=", nt*i)

Dime la tabla que deseas generar: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [18]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
s = "s"
while s=="s":
  nt = int(input("Dime una tabla: "))
  for i in range(1, 11):
    print(nt, "X",i,"=", nt*i)
  s = input("¿Desea continuar? Presione la tecla 'S', sino precione otra: ")

Dime una tabla: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
¿Desea continuar? Presione la tecla 'S', sino precione otra: N